<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
  <title>#Bundesalltag</title>
</head>
<body bgcolor="FF9999">

<div class="container">
    <nav class="btn btn-outline-dark mt-5 mb-4"><a href="/">На главную</a></nav>
	 <h1 class="display-1 mt-5"><b><i>#Bundesalltag <img src="/static/images/logo.png" alt="" class="img-fluid" width="200" hight="200"></i></b></h1>
    <hr>
    <p><i><big>Проект составлен в учебных целях и не несет в себе никакой смысловой нагрузки.</big><br></i> <i align="right"> (Тимофей Борисов)</i></p>
</div>

</body>
</html>

