<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>#Bundesalltag - #Bundestag</title>
</head>
<body>

<div class="container">
    <nav class="btn btn-outline-dark mt-5 mb-4"><a href="/">На главную</a></nav>
	 <h1 class="display-1 mt-5"><b><i>#Bundesalltag <img src="/static/images/logo.png" alt="" class="img-fluid" width="200" hight="200"></i></b></h1>
    <hr>
    <h2 class="mb-5 ">10 видео по тегу #<a class="btn btn-primary btn-lg" href="/tags/Bundestag" > Бундестаг</a></h2>
    <div class="col">

        <div class="col-md-4">
                <div class="card mb-4" >
                  <div class="card-body">
                      <h5 class="card-title"><a href="/videos/AFD">AfD in 5 Minuten</a></h5>
                    <p class="card-text"></p>
                  </div>
                </div>
            </div>

        <div class="col-md-4">
                <div class="card mb-4" >
                  <div class="card-body">
                      <h5 class="card-title"><a href="/videos/AFDrede">Rede von Alice Weidel zur Regierungspolitik der Bundeskanzlerin am 12.09.18</a></h5>
                    <p class="card-text"></p>
                  </div>
                </div>
            </div>

        <div class="col-md-4">
                <div class="card mb-4" >
                  <div class="card-body">
                      <h5 class="card-title"><a href="/videos/CDU">CDU in 5 Minuten</a></h5>
                    <p class="card-text"></p>
                  </div>
                </div>
            </div>

        <div class="col-md-4">
                <div class="card mb-4" >
                  <div class="card-body">
                      <h5 class="card-title"><a href="/videos/CSU">Wie mächtig ist die CSU wirklich?</a></h5>
                    <p class="card-text"></p>
                  </div>
                </div>
            </div>

        <div class="col-md-4">
                <div class="card mb-4" >
                  <div class="card-body">
                      <h5 class="card-title"><a href="/videos/Linke">DIE LINKE in 5 Minuten?</a></h5>
                    <p class="card-text"></p>
                  </div>
                </div>
            </div>

        <div class="col-md-4">
                <div class="card mb-4" >
                  <div class="card-body">
                      <h5 class="card-title"><a href="/videos/FDP">FDP in 5 Minuten</a></h5>
                    <p class="card-text"></p>
                  </div>
                </div>
            </div>

        <div class="col-md-4">
                <div class="card mb-4" >
                  <div class="card-body">
                      <h5 class="card-title"><a href="/videos/Gruenen">Die GRÜNEN in 5 Minuten</a></h5>
                    <p class="card-text"></p>
                  </div>
                </div>
            </div>

        <div class="col-md-4">
                <div class="card mb-4" >
                  <div class="card-body">
                      <h5 class="card-title"><a href="/videos/JanBoehmerman">Die Bundesregierung im Internet | NEO MAGAZIN ROYALE mit Jan Böhmermann - ZDFneo</a></h5>
                    <p class="card-text"></p>
                  </div>
                </div>
            </div>

        <div class="col-md-4">
                <div class="card mb-4" >
                  <div class="card-body">
                      <h5 class="card-title"><a href="/videos/CDUrede">"Das ist grober Unfug": Der jüngste CDU-Abgeordnete nimmt den AfD-Burka-Antrag auseinander</a></h5>
                    <p class="card-text"></p>
                  </div>
                </div>
            </div>

          <div class="col-md-4">
                <div class="card mb-4" >
                  <div class="card-body">
                      <h5 class="card-title"><a href="/videos/SPD">SPD in 5 Minuten ?</a></h5>
                    <p class="card-text"></p>
                  </div>
                </div>
            </div>


    </div>
</div>

</body>
</html>