<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Bundesalltagseite </title>
</head>
<body>

<div class="container">

    <h1 class="display-1 mt-5"><b><i>#Bundesalltag <img src="/static/images/logo.png" alt="" class="img-fluid" width="200" hight="200"></i></b></h1>
    <hr>
	<h2 class="display-4 mb-10">Добро пожаловать на страницу информационного портала о немецкой политике.</h2>
    <hr>
    <br>
	<p><big>на этом сайте вы можете получить краткую справку о политике Германии</big></p>
    <br>
<p><big>Теги для быстрого перехода:</big></p>


	<div class="mb-4 mt-5">
		<a class="btn btn-primary mb-2 mr-2" href="/tags/Blau" >Голубые</a>
        <a class="btn btn-secondary mb-2 mr-2" href="/tags/Brau" >Коричневые</a>
        <a class="btn btn-warning mb-2 mr-2" href="/tags/Gelb" >Желтые</a>
        <a class="btn btn-danger mb-2 mr-2" href="/tags/Rot" >Красные</a>
        <a class="btn btn-success mb-2 mr-2" href="/tags/Gruenen" >Зелёные</a>
        <a class="btn btn-dark mb-2 mr-2" href="/tags/Schwarz" >Черные</a>
        <br>
        <a class="btn btn-primary btn-lg" href="/tags/Bundestag" > Бундестаг</a>
         <br>


	</div>

	<div class="row">

	    <div class="col-md-4">
	        <div class="card mb-4" >
	          <div class="card-body">
	              <img src="/static/images/1.jpg" alt="" class="img-fluid">
	              <h5 class="card-title mt-3"><a href="playlists/FAQ">Бундестаг FAQ</a></h5>
	              <p class="card-text"></p>
	              <p class="card-text">7 видео</p>
	          </div>
	        </div>
	    </div>

        <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-body">
                <img src="/static/images/2.jpg" alt="" class="img-fluid">
                <h5 class="card-title mt-3"><a href="playlists/Sitzung">Заседание</a></h5>
                <p class="card-text"></p>
                <p class="card-text">2 видео</p>
             </div>
          </div>
    </div>
        <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-body">
                <img src="/static/images/3.jpg" alt="" class="img-fluid">
                <h5 class="card-title mt-3"><a href="playlists/Meinung">Мнение</a></h5>
                <p class="card-text"></p>
                <p class="card-text">3 видео</p>
             </div>
          </div>
    </div>
	    <!--Еще карточки -->

	</div><!--/row -->

	<hr>

	<p class="btn btn-outline-dark mt-5 mb-4"></pclass><a href="/about">Дополнительная информация</a></p>

</div><!--/container -->

</body>
</html>