<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>#Bundesalltag-#Schwarz</title>
</head>
<body>

<div class="container">
<nav class="btn btn-outline-dark mt-5 mb-4"><a href="/">На главную</a></nav>
	 <h1 class="display-1 mt-5"><b><i>#Bundesalltag <img src="/static/images/logo.png" alt="" class="img-fluid" width="200" hight="200"></i></b></h1>
    <hr>
    <h2 class="mb-5 ">4 видео по тегу #<a class="btn btn-dark mb-2 mr-2" href="/tags/Schwarz" >Черные</a></h2>
    <div class="col">

               <div class="col-md-4">
                <div class="card mb-4" >
                  <div class="card-body">
                      <h5 class="card-title"><a href="/videos/CDU">CDU in 5 Minuten</a></h5>
                    <p class="card-text"></p>
                  </div>
                </div>
            </div>

        <div class="col-md-4">
                <div class="card mb-4" >
                  <div class="card-body">
                      <h5 class="card-title"><a href="/videos/CSU">Wie mächtig ist die CSU wirklich?</a></h5>
                    <p class="card-text"></p>
                  </div>
                </div>
            </div>
        <div class="col-md-4">
                <div class="card mb-4" >
                  <div class="card-body">
                      <h5 class="card-title"><a href="/videos/CDUzerstörung">Die Zerstörung der CDU.</a></h5>
                    <p class="card-text"></p>
                  </div>
                </div>
            </div>

        <div class="col-md-4">
                <div class="card mb-4" >
                  <div class="card-body">
                      <h5 class="card-title"><a href="/videos/CDUrede">"Das ist grober Unfug": Der jüngste CDU-Abgeordnete nimmt den AfD-Burka-Antrag auseinander</a></h5>
                    <p class="card-text"></p>
                  </div>
                </div>
            </div>


    </div>
</div>

</body>
</html>