<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>#Bundesalltag-FAQ</title>
</head>
<body>
<div class="container">
<nav class="btn btn-outline-dark mt-5 mb-4"><a href="/">На главную</a></nav>
	 <h1 class="display-1 mt-5"><b><i>#Bundesalltag <img src="/static/images/logo.png" alt="" class="img-fluid" width="200" hight="200"></i></b></h1>
    <hr>
</div>

<div class="container">

	<div class="row mt-5">

	    <div class="col-8">

	        <p>Плейлист: записи речей политиков</p>
	        <h2 class="mb-5">{{name}}</h2>
	        <iframe width="860" height="600" src={{link}} frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


<a class="btn btn-dark btn-lrg mb-2 mr-10" href={{next}} >Следующее видео</a>
			<br>
			<br>
			<p3>Видео плейлиста:</p3>
			<br>
			<br>
<div class="col md-4">
	    <div class="card mb-4" >
                  <div class="card-body">
                      <h5 class="card-title"><a href="/videos/AFDrede">Rede von Alice Weidel zur Regierungspolitik der Bundeskanzlerin am 12.09.18</a></h5>
                    <p class="card-text"></p>
                  </div>
                </div>
	<div class="card mb-4" >
                  <div class="card-body">
                      <h5 class="card-title"><a href="/videos/CDUrede">"Das ist grober Unfug": Der jüngste CDU-Abgeordnete nimmt den AfD-Burka-Antrag auseinander</a></h5>
                    <p class="card-text"></p>
                  </div>
                </div>


    </div>
</div>
	</div>
 <hr>


    <hr>
</body>
</html>